{
  "CreateOfferFunction": { "SECRETS_MANAGER_SECRET_NAME": "your-secret-name" },
  "ReadOffersFunction": { "SECRETS_MANAGER_SECRET_NAME": "your-secret-name" },
  "ReadOfferByIdFunction": { "SECRETS_MANAGER_SECRET_NAME": "your-secret-name" },
  "UpdateOfferFunction": { "SECRETS_MANAGER_SECRET_NAME": "your-secret-name" },
  "DeleteOfferFunction": { "SECRETS_MANAGER_SECRET_NAME": "your-secret-name" }
}
